<!DOCTYPE html>
<html>
  <head>
<head>
    <title>go on, spend!</title>
    <link rel="stylesheet" href="/static/normalize.css">
    <link rel="stylesheet" href="/static/skeleton.css">
    <link rel="manifest" href="/static/manifest.json">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
</head>
  </head>

  <body>
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
    <!-- quick entry button handler -->
    <script>
      function qe(evt) {
        let amount = document.getElementById('amount')
        amount.value = ((amount.value == "" ? 0 : parseFloat(amount.value)) + parseFloat(evt.target.id)).toFixed(2)
      }
    </script>

    <!-- submit error handlers -->
    <script>
      function networkErrorHandler(event) {
        let ediv = document.getElementById('error')
        ediv.hidden = false
        ediv.append(event.detail.xhr.statusText, document.createElement("br"), event.detail.xhr.responseText)
      }
      htmx.on("htmx:responseError", networkErrorHandler)
      htmx.on("htmx:sendError", networkErrorHandler)
      htmx.on("htmx:beforeSend", (event) => {
        let ediv = document.getElementById('error')
        ediv.hidden = true
        while (ediv.firstChild) { ediv.removeChild(ediv.firstChild) }
      })
    </script>

    <!-- PWA service worker -->
    <script>
      navigator.serviceWorker.register("/worker.js").then(
        (registration) => {
          console.log("Service worker registration succeeded:", registration);
        },
        (error) => {
          console.error(`Service worker registration failed: ${error}`);
        },
      );
    </script>

    <div class="container">
      <form>
        <div class="row">
          <label for="category">Category</label>
          <select id="category" name="category">
            {{ range $i, $v := .Categories }}
            <option {{ if eq $v $.FavouriteCategory }}selected {{ end -}}
              value="{{$v}}">{{.}}</option>
            {{ end }}
          </select>
        </div>
        <div class="row">
          <label for="description">Description</label>
          <input type="text" id="description" name="description" value="{{ .FavouriteDescription }}" />
        </div>
        <div class="row">
          <label for="amount">Amount</label>
          <input type="number" step="0.10" min="0" id="amount" name="amount" value="{{ .FavouriteAmount }}"/>
        </div>
        <div class="row">
          <div id="error" style="color: red" hidden="true" class="row"></div>
          <label for="email">
            <input type="checkbox" id="email" value="email">
            <span class="label-body">Send email notification to G</span
          </label>
        </div>
        <div class="row">
          <button class="button-primary" hx-post="/submit" hx-target="div.container" hx-disabled-elt="this">Submit</button>
        </div>
      </form>
      {{ range $i, $v := .Favourites }}
      <button class="button u-full-width" hx-target="body" hx-get="/?fav={{ $i }}">{{ index $v 0 }} {{ index $v 1 }} {{ printf "%.2f" (toFloat (index $v 2)) }}</button>
      {{ end }}
      <div class="row">
        <button class="four columns" onclick="qe(event)" id="10">+10</button>
        <button class="four columns" onclick="qe(event)" id="5">+5</button>
        <button class="four columns" onclick="qe(event)" id="1">+1</button>
      </div>
      <div class="row">
        <button class="four columns" onclick="qe(event)" id="0.10">+0.10</button>
        <button class="four columns" onclick="qe(event)" id="0.50">+0.50</button>
        <button class="four columns" onclick="qe(event)" id="0.01">+0.01</button>
      </div>
    </div>
    <footer class="u-full-width u-max-full-width" style="text-align:center; font-size:0.8em; color:gray; margin-top:20px;">
      Logged in as: {{.Email}}
    </footer>
  </body>
</html>
